docotype  
html 
    head 
        title CommercialsAdmin

body
    h1 "Commercials"
    form(id ="form" action="/editcoom" method="post")
        input(type = 'hidden', name="comm" id ="comm" placeholder="" value=screen)
        p 0:
        input(name ="com0" type="text" id="0" placeholder="")
        input(name ="com9" type="text" id="9" placeholder="")
        p 1:
        input(name ="com1" type="text" id="1" placeholder="")
        input(name ="com10" type="text" id="10" placeholder="")    
        p 2:
        input(name ="com2" type="text" id="2" placeholder="")
        input(name ="com11" type="text" id="11" placeholder="")
        p 3:
        input(name ="com3" type="text" id="3" placeholder="")
        input(name ="com12" type="text" id="12" placeholder="")
        p 4:
        input(name ="com4" type="text" id="4" placeholder="")
        input(name ="com13" type="text" id="13" placeholder="")
        p 5:
        input(name ="com5" type="text" id="5" placeholder="")
        input(name ="com14" type="text" id="14" placeholder="")
        p 6:
        input(name ="com6" type="text" id="6" placeholder="")
        input(name ="com15" type="text" id="15" placeholder="")
        p 7:
        input(name ="com7" type="text" id="7" placeholder="")
        input(name ="com16" type="text" id="16" placeholder="")
        p 8:
        input(name ="com8" type="text" id="8" placeholder="")
        input(name ="com17" type="text" id="17" placeholder="")
        p Number of connected users:
        input(name="userscount" id ="userscount" value=usersconnect disabled )   
        p Admin is connected
        p Screen 1:
        input(name="screen1" id ="screen1" value=screen1 disabled )    
        p Screen 2:
        input(name="screen2" id ="screen2" value=screen2 disabled ) 
        p Screen 3:
        input(name="screen3" id ="screen3" value=screen3 disabled )           
       
        input(type='submit', value='Submit')

    
    script.
            
            var naeo1;
            var naeo2;
           
            var counter=0;
            var currentuser = document.getElementById("comm").value;
            var current;  
            current = JSON.parse(currentuser);     
           
            for(var i=0;i<current.length;i++){
                var numid=i.toString();
                var numtime = (i+9).toString();
                console.log(numid); 
                naeo2=document.getElementById(numtime);
                naeo1=document.getElementById(numid);
                naeo2.value =current[i].opentime;  
                naeo1.value = current[i].image;
            }